@model Event
@{
    ViewData["Title"] = "Details";
}

<partial name="_EventDetails" model="@Model" />
<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Attendee"))
    {
        <a class="btn btn-primary"
           asp-action="AttendeeReg" asp-controller="Attendee" role="link">Register</a>
    }

    <a class="btn btn-outline-primary"
    asp-action="Index" asp-controller="Event">Return to Home Page</a>
    
</p>