@model Attendee
@{
    ViewData["Title"] = "Register";
}
<h2>Event Registration</h2>
<hr />

<form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="AttendeeName" class="form-label">Name</label>
        <input asp-for="AttendeeName" class="form-control" />
        <span asp-validation-for="AttendeeName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AttendeeEmail" class="form-label">Email</label>
        <input asp-for="AttendeeEmail" class="form-control" />
        <span asp-validation-for="AttendeeEmail" class="text-danger" ></span>
    </div>

    <div class="mb-3">
        <a asp-action="Confirmation" asp-controller="Attendee" asp-route-id="@Model.EventId" asp-route-id="@Model.AttendeeId" class="btn btn-primary">Complete Registration</a>
        @* <input asp-action="Confirmation" asp-controller="Attendee" value="Complete Registration" class="btn btn-primary" @* asp-route-id="@Model.AttendeeId" /> *@
        <a asp-action="Details" asp-controller="Event" asp-route-id="@Model.EventId" class="btn btn-outline-primary">Back to Event Details</a>
    </div>
</form>
